In [1]:
def calcular_fatorial(n):
    fatorial = 1
    contador = n
    while contador > 0:
        fatorial *= contador
        contador -= 1
    return fatorial

def exibir_fatorial(n):
    fatorial = calcular_fatorial(n)
    fatores = []
    contador = n
    while contador > 0:
        fatores.append(str(contador))
        contador -= 1
    fatores_str = " . ".join(fatores)
    print(f"Fatorial de: {n}")
    print(f"{n}! = {fatores_str} = {fatorial}")

def main():
    try:
        numero = int(input("Digite um número inteiro: "))
        if numero < 0:
            print("Por favor, digite um número inteiro não-negativo.")
        else:
            exibir_fatorial(numero)
    except ValueError:
        print("Por favor, digite um número inteiro válido.")

if __name__ == "__main__":
    main()

Fatorial de: 5
5! = 5 . 4 . 3 . 2 . 1 = 120

In [2]:
def gerar_tabuada(numero, inicio, fim):
    print(f"\nVou montar a tabuada de {numero} começando em {inicio} e terminando em {fim}:")
    for i in range(inicio, fim + 1):
        resultado = numero * i
        print(f"{numero} X {i} = {resultado}")

def main():
    try:
        numero = int(input("Montar a tabuada de: "))
        inicio = int(input("Começar por: "))
        fim = int(input("Terminar em: "))
        
        if inicio > fim:
            print("O valor inicial deve ser menor ou igual ao valor final.")
        else:
            gerar_tabuada(numero, inicio, fim)
    except ValueError:
        print("Por favor, digite um número inteiro válido.")

if __name__ == "__main__":
    main()

Vou montar a tabuada de 4 começando em 2 e terminando em 9:
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

In [8]:
anoI = int(input("Digite o ano de contratação: "))
anoAtual = int(input('Informe o ano atual: '))
salario = int(input("Digite o salário inicial: "))
percentual = 1.5 / 100
novosalario = salario
for i in range(anoI, anoAtual + 1):
      novosalario += salario * percentual
      if i <= 1997:
        percentual *= 2
      print(f"Salário no ano {i}: R$ {novosalario:.2f}")

Salário no ano 1995: R$ 1015.00
Salário no ano 1996: R$ 1045.00
Salário no ano 1997: R$ 1105.00
Salário no ano 1998: R$ 1225.00
Salário no ano 1999: R$ 1345.00
Salário no ano 2000: R$ 1465.00
Salário no ano 2001: R$ 1585.00
Salário no ano 2002: R$ 1705.00
Salário no ano 2003: R$ 1825.00
Salário no ano 2004: R$ 1945.00
Salário no ano 2005: R$ 2065.00
Salário no ano 2006: R$ 2185.00
Salário no ano 2007: R$ 2305.00
Salário no ano 2008: R$ 2425.00
Salário no ano 2009: R$ 2545.00
Salário no ano 2010: R$ 2665.00
Salário no ano 2011: R$ 2785.00
Salário no ano 2012: R$ 2905.00
Salário no ano 2013: R$ 3025.00
Salário no ano 2014: R$ 3145.00
Salário no ano 2015: R$ 3265.00
Salário no ano 2016: R$ 3385.00
Salário no ano 2017: R$ 3505.00
Salário no ano 2018: R$ 3625.00
Salário no ano 2019: R$ 3745.00
Salário no ano 2020: R$ 3865.00
Salário no ano 2021: R$ 3985.00
Salário no ano 2022: R$ 4105.00
Salário no ano 2023: R$ 4225.00
Salário no ano 2024: R$ 4345.00